USE [master]
GO
/****** Object:  Database [DULICH]    Script Date: 11/18/2020 10:14:02 ******/
CREATE DATABASE [DULICH] ON  PRIMARY 
( NAME = N'DULICH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\DULICH.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DULICH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\DULICH_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DULICH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DULICH]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 11/18/2020 10:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[tour_id] [int] IDENTITY(1,1) NOT NULL,
	[tour_ten] [nvarchar](max) NULL,
	[tour_mota] [nvarchar](max) NULL,
	[loai_id] [int] NULL,
 CONSTRAINT [PK_Tours] PRIMARY KEY CLUSTERED 
(
	[tour_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour_nhanvien]    Script Date: 11/18/2020 10:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour_nhanvien](
	[nv_id] [int] IDENTITY(1,1) NOT NULL,
	[nv_ten] [nvarchar](max) NULL,
	[nv_sdt] [nvarchar](max) NULL,
	[nv_ngaysinh] [datetime2](7) NOT NULL,
	[nv_email] [nvarchar](max) NULL,
	[nv_nhiemvu] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tour_nhanvien] PRIMARY KEY CLUSTERED 
(
	[nv_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour_nguoidi]    Script Date: 11/18/2020 10:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour_nguoidi](
	[nguoidi_id] [int] IDENTITY(1,1) NOT NULL,
	[doan_id] [int] NOT NULL,
	[nguoidi_dsnhanvien] [nvarchar](max) NULL,
	[nguoidi_dskhach] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tour_nguoidi] PRIMARY KEY CLUSTERED 
(
	[nguoidi_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour_loaichiphi]    Script Date: 11/18/2020 10:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour_loaichiphi](
	[cp_id] [int] IDENTITY(1,1) NOT NULL,
	[cp_ten] [nvarchar](max) NULL,
	[cp_mota] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tour_loaichiphi] PRIMARY KEY CLUSTERED 
(
	[cp_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour_loai]    Script Date: 11/18/2020 10:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour_loai](
	[loai_id] [int] IDENTITY(1,1) NOT NULL,
	[loai_ten] [nvarchar](max) NULL,
	[loai_mota] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tour_loai] PRIMARY KEY CLUSTERED 
(
	[loai_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour_khachhang]    Script Date: 11/18/2020 10:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour_khachhang](
	[kh_id] [int] IDENTITY(1,1) NOT NULL,
	[kh_ten] [nvarchar](max) NULL,
	[kh_sdt] [nvarchar](max) NULL,
	[kh_ngaysinh] [datetime2](7) NOT NULL,
	[kh_email] [nvarchar](max) NULL,
	[kh_cmnd] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tour_khachhang] PRIMARY KEY CLUSTERED 
(
	[kh_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour_gia]    Script Date: 11/18/2020 10:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour_gia](
	[gia_id] [int] IDENTITY(1,1) NOT NULL,
	[gia_sotien] [float] NOT NULL,
	[tour_id] [int] NOT NULL,
	[gia_tungay] [datetime2](7) NOT NULL,
	[gia_denngay] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Tour_gia] PRIMARY KEY CLUSTERED 
(
	[gia_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour_doan]    Script Date: 11/18/2020 10:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour_doan](
	[doan_id] [int] IDENTITY(1,1) NOT NULL,
	[tour_id] [int] NOT NULL,
	[gia_id] [int] NOT NULL,
	[doan_name] [nvarchar](max) NULL,
	[doan_ngaydi] [datetime2](7) NOT NULL,
	[doan_ngayve] [datetime2](7) NOT NULL,
	[doan_chitietchuongtrinh] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tour_doan] PRIMARY KEY CLUSTERED 
(
	[doan_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour_diadiem]    Script Date: 11/18/2020 10:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour_diadiem](
	[dd_id] [int] IDENTITY(1,1) NOT NULL,
	[dd_thanhpho] [nvarchar](max) NULL,
	[dd_ten] [nvarchar](max) NULL,
	[dd_mota] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tour_diadiem] PRIMARY KEY CLUSTERED 
(
	[dd_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour_chitiet]    Script Date: 11/18/2020 10:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour_chitiet](
	[ct_id] [int] IDENTITY(1,1) NOT NULL,
	[tour_id] [int] NOT NULL,
	[dd_id] [int] NOT NULL,
	[ct_thutu] [int] NOT NULL,
 CONSTRAINT [PK_Tour_chitiet] PRIMARY KEY CLUSTERED 
(
	[ct_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour_chiphi]    Script Date: 11/18/2020 10:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour_chiphi](
	[chiphi_id] [int] IDENTITY(1,1) NOT NULL,
	[doan_id] [int] NOT NULL,
	[chiphi_total] [float] NOT NULL,
	[chiphi_chitiet] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tour_chiphi] PRIMARY KEY CLUSTERED 
(
	[chiphi_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/18/2020 10:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
